.advantages {
    h2 {
       @media screen and (max-width: 767px) {
margin-top: 20px;            }
 
    }
    &-wrap {
        gap: 35px;
        align-items: flex-start;
        padding: 60px 0 80px;
@media screen and (max-width: 767px) {
                 padding: 40px 0 60px;
                 flex-direction: column;
                 align-items: center;

            }

        .icon-wrap {
            width: 110px;
            height: 110px;
            min-width: 110px;
            background-color: #F1F1F1;
            border-radius: 50%;

            @media screen and (max-width: 992px) {
                width: 80px;
                height: 80px;
                min-width: 80px;
            }

            .icon {
                height: 50%;
                width: auto;
            }
        }

        .icon-txt {
            display: block;
            font-weight: 700;
            font-size: 30px;
            line-height: .6;
            text-align: center;
            color: #009b25;
@media screen and (max-width: 992px) {
                font-size: 24px;
            }
            .sm {
                font-weight: 800;
                font-size: 18px;
                text-align: center;
                @media screen and (max-width: 992px) {
                font-size: 14px;
            }

            }

            &-2 {
                font-weight: 800;
                font-size: 18px;
                text-align: center;
                color: #009b25;
                @media screen and (max-width: 992px) {
                font-size: 14px;
            }
            }
        }

        .title {
            text-align: center;
        }
    }

    &-card {
        gap: 22px;
        max-width: 18%;
        @media screen and (max-width: 767px) {
                 max-width: 300px;

            }
    }

    .txt-wrap {
        width: 100%;
        background-color: #F1F1F1;
        border-radius: 30px;
        text-align: center;
        padding: 64px 120px;
        @media screen and (max-width: 767px) {
                    border-radius:15px;

                 padding: 30px 20px;

            }

    }
}