.banner {
  background-image: url(/img/banner.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  &-wrap {
    @media screen and (max-width: 992px) {
      flex-direction: column;
      gap: 30px;
    }
    .col-txt {
      width: 52.5%;
      @media screen and (max-width: 992px) {
        width: 100%;
      }

      h1 {
        font-weight: 900;
        font-size: 55px;
        line-height: 1.2;
        color: $white;
        margin-bottom: 12px;
        @media screen and (max-width: 992px) {
          font-size: 44px;
          text-align: center;
        }

        span {
          font-size: 73px;
          @media screen and (max-width: 992px) {
            font-size: 55px;
          }
        }
      }
      h3 {
        font-weight: 600;
        font-size: 32px;
        line-height: 100%;
        color: #e9d514;
        @media screen and (max-width: 992px) {
          font-size: 24px;
          text-align: center;
        }
      }
    }
  }
  .col-tab {
    width: 47.5%;
    @media screen and (max-width: 992px) {
      width: 100%;
      max-width: 600px;
    }
    .table-wrap {
      // width: 47.5%;
      padding: 30px 30px 50px;
      border-radius: 30px;
      background-color: #ffffff;
      @media screen and (max-width: 767px) {
        border-radius: 15px;
        padding: 15px 15px 20px;
      }
    }
    .table-head {
      margin-bottom: 30px;
      gap: 10px;
      h4 {
        font-weight: 800;
        font-size: 27px;
        line-height: 100%;
        @media screen and (max-width: 767px) {
          font-size: 18px;
        }
      }
      .info {
        p {
          margin: 0;
          font-weight: 700;
          font-size: 15px;
          line-height: 1.3;
          text-align: right;
          @media screen and (max-width: 767px) {
            font-size: 12px;
          }
        }
      }
    }
    .currensy-table {
      width: 100%;
      // background: #fcf6f6;
      height: 100px;
      border-collapse: collapse;
      tr:not(:last-child) {
        td {
          border-bottom: 1px solid #00000026;
          border-right: none;
          border-left: none;
        }
      }
      th {
        font-weight: 400;
        font-size: 18px;
        line-height: 100%;
        text-align: left;
        padding-bottom: 12px;
        &:first-child {
          text-align: left;
        }
        &:nth-child(2) {
          text-align: center;
        }
        &:last-child {
          text-align: right;
        }
      }
      td {
        font-weight: 600;
        font-size: 22px;
        line-height: 45px;
        padding-top: 4px;
        padding-bottom: 4px;
        &:first-child {
          text-align: left;
        }
        &:nth-child(2) {
          text-align: center;
        }
        &:last-child {
          text-align: right;
        }
      }
    }
    .bttn {
      margin-top: -20px;
    }
  }
}
