.footer {
  background-image: url(/img/foot.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 45px 0 20px;

  * {
    color: $white;
  }

  &-wrap {
    gap: 20px;

    .txt {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
    }
  }

  .logo {
    max-height: 70px;
  }

  .phones-menu {
    gap: 30px;
  }

  .copyright-txt {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px;

    @media screen and (max-width: 767px) {
      padding: 16px 0 32px;
    }
  }

}