.footer {
  background-image: url(/img/foot.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 45px 0 20px;

  * {
    color: $white;
  }

  &-wrap {
    gap: 20px;
    @media screen and (max-width: 480px) {
      gap: 30px;
    }
    .txt {
      font-weight: 600;
      font-size: 20px;
      line-height: 1.2;
      text-align: center;
      @media screen and (max-width: 480px) {
        font-size: 16px;
      }
    }
  }

  .logo {
    max-height: 70px;
  }
  .location {
    @media screen and (max-width: 480px) {
      flex-direction: column;
    }
  }
  .phones-menu {
    gap: 30px;
    flex-wrap: wrap;
    @media screen and (max-width: 480px) {
      gap: 10px 30px;
    }

  }

  .copyright-txt {
    font-weight: 600;
    font-size: 15px;
    line-height: 1.6;
    text-align: center;
    margin-top: 20px;

    
  }

}