.mobile-menu {
    position: fixed;
    // width: calc(100vw - 30px);
    width: 100%;
    height: 100dvh;
    max-height: 100dvh;
    overflow-y: hidden;
    overflow-x: auto;
    left: 0;
    top: 0;
    background-color: $white;
    gap: 10px;
    padding: 30px 15px;
    z-index: 180;
    opacity: 0;
    transition: 0.3s;
    pointer-events: none;

    &.open {
        opacity: 1;
        pointer-events: all;
        transition: 0.3s;
    }
    .soc-wrap {
        margin-top: 15px;
    }
}

.mob-menu {
    width: 100%;

    .menu-item-has-children {
        

        &>a {
            display: block;
            font-family: "Open Sans", sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;
            color: $accent;
            padding-bottom: 10px;
        margin-bottom: 10px;
        border-bottom: 1px solid $accent;
        }
        .sub-menu {
            gap: 10px;
            .menu-item {
                padding: 15px 0;
                a {
                    font-family: "Comfortaa", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 100%;
text-transform: capitalize;
                }

            }
        }
    }
}