$white: #ffffff;
$black: #212121;
$accent: #0099cd;

$gray: #f1f1f1;

$blue: #045fd4;
$red: #ea0029;
// $gradient: linear-gradient(90deg, #71D5AA 0%, #0099CD 100%);

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100vw;
  position: relative;
  overflow-x: hidden;
  color: $black;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  //   background-color: $white;
  word-wrap: break-word;

  @media screen and (max-width: 992px) {
    font-size: 14px;
  }
}

.container-all {
  position: relative;
  overflow: hidden;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}

main {
  position: relative;
}
menu {
  margin: 0;
  padding: 0;
}
._h1,
h1,
._h2,
h2,
._h3,
h3,
._h4,
h4,
._h5,
h5,
._h6,
h6 {
  font-style: normal;
  margin: 0;
}

// h1,
// ._h1 {
//   font-weight: 800;
//   font-size: 45px;
//   line-height: 55px;

//   @media screen and (max-width: 992px) {
//     font-size: 20px;
//     line-height: 26px;
//   }
// }

h2,
._h2 {
font-weight: 800;
font-size: 40px;
line-height: 1.1;
text-align: center;


  @media screen and (max-width: 992px) {
    font-size: 24px;
  }
}

h3,
._h3 {
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;

  @media screen and (max-width: 992px) {
    font-size: 16px;
    line-height: 20px;
  }
}

h4,
._h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;

  @media screen and (max-width: 992px) {
    font-size: 14px;
    line-height: 18px;
  }
}

h5,
._h5 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;

  @media screen and (max-width: 992px) {
    font-size: 12px;
    line-height: 16px;
  }
}

h6,
._h6 {
  font-weight: 600;
  font-size: 18px;
  line-height: 28px;

  @media screen and (max-width: 992px) {
    font-size: 12px;
    line-height: 16px;
  }
}

[class*="__container"] {
  width: 100%;
  padding: 0 15px;
  max-width: 1225px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
  transition: all 0.3s;

  // &:hover {
  //   color: $mediumblue;
  //   transition: all 0.3s;
  // }
}

// p a:hover {
//   color: $mediumblue;
//   transition: all 0.3s;
// }

.bttn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
  position: relative;
  transition: all ease 0.3s;
  border-radius: 130px;
  //   width: max-content;
  padding: 5px 40px;
  height: 60px;
  line-height: 1;
  font-weight: 700;
  font-size: 25px;
  color: #fff;
  background-color: $blue;
  transition: 0.3s;
  @media screen and (max-width: 767px) {
    height: 50px;
    font-size: 18px;
    padding: 3px 20px;
  }
  &:hover {
    background-color: #e9d514;
    transition: 0.3s;
    color: $black;
  }
}
.pt60 {
  padding-top: 60px;
}
.pb60 {
  padding-bottom: 60px;
}
._hide {
  display: none !important;
}

._mob {
  display: none !important;

  @media screen and (max-width: 992px) {
    display: block !important;
  }
}

._mob-f {
  display: none !important;

  @media screen and (max-width: 992px) {
    display: flex !important;
  }
}

._desk {
  display: none !important;

  @media screen and (min-width: 993px) {
    display: block !important;
  }
}

._desk-f {
  display: none !important;

  @media screen and (min-width: 993px) {
    display: flex !important;
  }
}

._flex {
  display: flex;

  &-x {
    display: flex;
    align-items: center;
  }

  &-cntr {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-btwn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &-col {
    display: flex;
    flex-direction: column;

    &-cntr {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
}

._invert {
  filter: invert(1);
}
.header-space {
  height: 80px;

  @media screen and (max-width: 992px) {
    height: 50px;
  }
}

.ul-norm {
  list-style: none;
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.o-fit {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.pt120 {
  padding-top: 120px;

  @media screen and (max-width: 992px) {
    padding-top: 60px;
  }
}

.pb120 {
  padding-bottom: 120px;

  @media screen and (max-width: 992px) {
    padding-bottom: 60px;
  }
}

.pt60 {
  padding-top: 60px;

  @media screen and (max-width: 992px) {
    padding-top: 30px;
  }
}

.pb60 {
  padding-bottom: 60px;

  @media screen and (max-width: 992px) {
    padding-bottom: 30px;
  }
}

.pb40 {
  padding-bottom: 40px;

  @media screen and (max-width: 992px) {
    padding-bottom: 32px;
  }
}

img {
  vertical-align: top;
}

.window-overlay {
  position: fixed;
  width: 100vw;
  height: 100dvh;
  left: 0;
  top: 0;
  background: #0a1948b2;
  z-index: 150;
  opacity: 0;
  transition: 0.3s;
  pointer-events: none;
}

.window-overlay.open {
  opacity: 1;
  pointer-events: all;
  transition: 0.3s;
}
